{% extends "layout.html" %}
{% block content %}


  <!-- logo and text area -->
  <div class="align-items-center text-center">
    <img src="../images/myauto.svg" alt="auto-logo">
    <h2 class="font-size-14 mt-20px font-base text-gray-900">ბანერის ფასები მოცემულია 1 თვიან განთავსებაზე,
        დღგ-ისჩათვლით.
        ანიმაციური ბანერის ფორმატი შეიძლება იყოს gif ან html5, ხოლო სტატიკური ბანერი jpg ან png. ფაილის
        მაქსიმალური
        დასაშვები ზომა - 80 კილობაიტი.</h2>
</div>

<div class="mt-60px">

    <div id="tabs">

        <!-- Top Side Tabs -->
        <ul
            class="d-flex align-items-center justify-content-between rounded-sm border border-gray-500 w-425px bg-white m-auto">
            <li class="py-15px px-30px bg-white rounded-sm active-li"><a
                    class="font-size-16 text-gray-700 font-medium" href="#desktop-tab">ეკრანი</a></li>
            <li class="py-15px px-30px bg-white rounded-sm"><a class="font-size-16 text-gray-700 font-medium"
                    href="#mobile-tab">მობილური</a></li>
            <li class="py-15px px-30px bg-white rounded-sm"><a class="font-size-16 text-gray-700 font-medium"
                    href="#app-tab">აპლიკაცია</a></li>
        </ul>


        <div class="mt-60px">

            <!-- ads review area -->
            <div class="d-flex w-100 pb-20px">
                <div class="w-25 pl-30px text-left text-primary-gray font-size-16 font-medium">პოზიცია და ზომა
                </div>
                <div class="w-25 pl-25px text-left text-primary-gray font-size-16 font-medium ">ფასი</div>
                <div class="w-25 pl-25px text-left text-primary-gray font-size-16 font-medium">ჩვენება</div>
            </div>
            <div id="desktop-tab">
                <div id="accordion" class="mb-20px box-shadow-lg  border rounded-md overflow-hidden">
                    <div
                        class="w-100 py-25px d-flex flex-wrap justify-content-center align-items-center bg-white outline-none">
                        <div
                            class="h-100 w-25 justify-content-center d-flex align-items-start flex-column pl-30px">
                            <div class="border-right w-100">
                                <p class="text-primary-gray font-size-16 font-medium">Top Banner</p>
                                <p class="text-primary-gray font-size-14 font-base">1050x110</p>
                            </div>
                        </div>

                        <div
                            class="h-100 w-25 pl-25px justify-content-center d-flex align-items-start flex-column">
                            <div class="border-right w-100">
                                <p class="text-primary-gray font-size-16 font-medium">4,000₾</p>
                                <p class="text-primary-gray font-size-14 font-base">ჩვენება</p>
                            </div>
                        </div>

                        <div
                            class="h-100 w-25 pl-25px justify-content-center d-flex align-items-start flex-column">
                            <div class="border-right w-100">
                                <p class="text-primary-gray font-size-16 font-medium">3,000,000</p>
                                <p class="text-primary-gray font-size-14 font-base">ჩვენება</p>
                            </div>
                        </div>

                        <div
                            class="h-100 w-25 justify-content-center d-flex flex-column align-items-start ads-review">
                            <div class="w-100 d-flex justify-content-center cursor-pointer">
                                <img src="../images/subtract.svg" alt="">
                                <p class="text-primary-gray font-size-16 font-medium pl-10px">პოზიციის ნახვა</p>
                            </div>
                        </div>


                        <div id="subtabs" class="w-100 ads-content mt-20px">




                            <div class="h-565px text-center border border-gray-500 bg-gray-200 position-relative overflow-hidden"
                                id="main-page">


                                <div class="bg-white m-auto overflow-hidden" id="main-draggable-parent">

                                    <div id="main-draggable" class="bg-gray-300 w-100">
                                        <img src="https://www.xda-developers.com/files/2018/04/longshot-example.png"
                                            class="ml-auto mr-auto w-565px" />
                                    </div>

                                </div>
                                <div class="w-120px bg-white position-absolute top-0 right-0"
                                    id="draggable-parent">
                                    <!-- h-165px -->
                                    <div id="draggable" class="ui-widget-content w-120px bg-gray-300 position-absolute" style="opacity: 0.8;">
                                        <p>Drag me around</p>
                                    </div>
                                    <img src="https://www.xda-developers.com/files/2018/04/longshot-example.png" class="w-100" />
                                </div>

                            </div>



                            <div class="h-565px border border-gray-500 bg-gray-200" id="search-page">
                                ძებნის გვერდი</div>
                            <div class="h-565px border border-gray-500 bg-gray-200" id="product-page">
                                პროდუქტის გვერდი
                            </div>

                            <div class="px-30px pt-20px d-flex justify-content-between align-items-center">
                                <ul
                                    class="d-flex align-items-center justify-content-between rounded-sm border border-gray-500 bg-white">
                                    <li class="py-15px px-30px bg-white rounded-sm active-li"><a
                                            class="font-size-16 text-gray-700 font-base"
                                            href="#main-page">მთავარი
                                            გვერდი</a></li>
                                    <li class="py-15px px-30px bg-white rounded-sm"><a
                                            class="font-size-16 text-gray-700 font-base"
                                            href="#search-page">ძებნის
                                            გვერდი</a></li>
                                    <li class="py-15px px-30px bg-white rounded-sm"><a
                                            class="font-size-16 text-gray-700 font-base"
                                            href="#product-page">პროდუქტის
                                            გვერდი</a></li>
                                </ul>

                                <span class="font-size-24 font-medium">320X100</span>
                            </div>
                        </div>




                    </div>
                </div>




            </div>



            <div id="mobile-tab">
                <p>მობილურის ტაბი</p>
            </div>



            <div id="app-tab">
                <p>აპის ტაბი</p>

            </div>
        </div>
    </div>
</div>
<script>
    // wait for image load
    $('.ads-review').click(function(){
        setTimeout(function(){
            var $mainImg = $('#main-draggable img');
            const mainImgHeight =  $mainImg.height();
            const cameraWidth = $mainImg.width();
            const cameraHeight = $('#main-page').height();
            const draggableWidth = $('#draggable').width();
            const draggableHeight = Math.min(mainImgHeight, Math.round(draggableWidth * cameraWidth / cameraHeight));
            $("#draggable").height(draggableHeight + 'px');
        }, 200);
    })

    $('#draggable').mousemove(function () {
        var top = parseInt($('#draggable').css('top'));
        var stop = parseInt($('#main-draggable').css('top'));

        var draggableHeight = $('#draggable-parent').height();
        var mainDraggableHeight = $('#main-draggable-parent').height();

        var percentage = top / draggableHeight;// e.g. 0.57
        var mainPhotoDragAmount = Math.round(-1 * mainDraggableHeight * percentage);

        var second = $('#draggable').height();
        var first = $('#main-draggable').height();


        $('#main-draggable').css('top', mainPhotoDragAmount + 'px');
    });
    $(function () {
        $("#draggable").draggable({
            containment: "parent"
        });
        $("#main-draggable").draggable({
            containment: "parent"
        });
    });
    $("li").on("click", function (event) {
        if ($(this).hasClass("ui-tabs-active")) {
            $(this).addClass('active-li');
        }
        $("li").not('.ui-tabs-active')
            .removeClass('active-li');
    });

    // Jquery Ui Tabs
    $(function () {
        $("#tabs").tabs();
        $("#substabs").tabs();
        $("#subtabs").tabs();

    });


    $('#accordion .ads-content').hide();
    $('#accordion .ads-review').click(function (e) {

        e.preventDefault();
        // hide all content
        var $this = $(this).parent().find('.ads-content');
        $("#accordion .ads-content").not($this).hide();

        // here is what I want to do
        $this.toggle();

    });
</script>
{% endblock %}