<!doctype html>
<html lang="">

<head>
    <link rel="stylesheet" href="/assets/css/index.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header class="container-fluid bg-white py-15px">
        <div class="d-flex justify-content-between align-items-center container">
            <div>
                <a href="/dist/main-page.dist.html">
                    <img src="../images/myads.svg" alt="logo">
                </a>
            </div>
            <div class="d-flex">
                <div class="mr-60px font-size-14"><a class="text-gray-900 font-bold font-weight-bold" href="">რეკლამის
                        დამატება</a>
                </div>
                <div class="mr-60px font-size-14"><a class="text-gray-900  font-bold font-weight-bold" href="">ბანერების
                        კატალოგი</a>
                </div>
                <div class="font-size-14"><a class="text-gray-900 font-medium py-6px px-20px bg-gray-600 rounded-md"
                        href="">ავტორიზაცია</a></div>
            </div>
        </div>
    </header>

    <main class="container mt-60px">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="container-fluid mt-100px pb-30px bg-white border-top border-gray-500">
        <div
            class="container pb-20px mt-30px d-flex justify-content-between justify-content-center align-items-center border-bottom border-gray-500 ">
            <div class="d-flex">
                <div class="d-flex flex-column line-height-18">
                    <p class="font-size-12 font-weight-bold font-bold">მომხმარებელი</p>
                    <a class="font-size-14 font-base text-black" href="#">ჩემი გვერდი</a>
                    <a class="font-size-14 font-base text-black" href="#">ბალანსის შევსება</a>
                </div>
                <div class="d-flex flex-column line-height-18 ml-100px">
                    <p class="font-size-12 font-weight-bold font-bold">მენიუ</p>
                    <a class="font-size-14 font-base text-black" href="#">ჩვენ შესახებ</a>
                    <a class="font-size-14 font-base text-black" href="#">კონტაქტი</a>
                </div>
            </div>
            <div
                class="w-285px h-50px rounded-sm social-icons justify-content-center align-items-center d-flex border border-gray-500">
                <a href="#" class="font-size-14 text-black facebook">Facebook</a>
                <a href="#" class="font-size-14 text-black instagram">Instagram</a>
                <a href="#" class="font-size-14 text-black">Linkedin</a>
            </div>
        </div>

        <div class="container pt-20px d-flex justify-content-between  justify-content-center align-items-center">
            <div>
                <a href="#">
                    <img src="../images/logo.svg" alt="logo">
                </a>
                <a href="#" class="my-footer text-black font-size-14 font-base ml-25px">Parts</a>
                <a href="#" class="my-footer text-black font-size-14 font-base">Auto</a>
                <a href="#" class="my-footer text-black font-size-14 font-base">Market</a>
                <a href="#" class="my-footer text-black font-size-14 font-base">Home</a>
                <a href="#" class="my-footer text-black font-size-14 font-base">Jobs</a>
                <a href="#" class="text-black font-size-14 font-base">Shop</a>
            </div>
            <div>
                <a href="" class="text-black font-size-14 font-base">ქართული (GE)</a>
            </div>
        </div>

    </footer>
</body>

</html>