{% extends "layout.html" %}

{% block content %}
<div class="align-items-center text-center">
    <h1 class="font-size-30 font-bold-caps font-weight-bold text-gray-900">ბანერების კატალოგი</h1>
    <h2 class="font-size-14 mt-10px font-base text-gray-900">ლორემ იპსუმ ტექსტი დროებით აქ და მარკეტინგმა რამე
        დაწეროს SEO-სთვის
        შესაფერისი</h2>
</div>


<div class="d-flex justify-content-between mt-35px">
    <div class="w-565px d-flex bg-white rounded-m">
        <div class="pl-25px pt-25px flex-direction-row">
            <img src="../images/myauto.svg" alt="auto-logo">
            <div class="text-left mt-30px">
                <p class="font-size-16 font-bold font-weight-bold text-gray-900">რეკლამა MyAuto-ზე</p>
                <p class="font-size-14 mt-6px font-base text-gray-900">შეარჩიე სარეკლამო პოზიციები MyAuto-ს
                    პორტალზე</p>
            </div>
            <a href="#">
                <div
                    class="mt-15px font-size-14 w-165px h-35px d-flex justify-content-center align-items-center bg-gray-200 rounded-sm">
                    <p class="text-gray-900  font-base">კატალოგის ნახვა</p>

                </div>
            </a>
        </div>
        <div class="w-320px">
            <img class="w-320px" src="../images/auto-cover.png" alt="myauto">
        </div>
    </div>
    <div class="w-565px d-flex bg-white rounded-m">
        <div class="pl-25px pt-25px flex-direction-row">
            <img src="../images/myhome.svg" alt="home-logo">
            <div class="text-left mt-30px">
                <p class="font-size-16 font-bold font-weight-bold text-gray-900">რეკლამა MyHome-ზე</p>
                <p class="font-size-14 mt-6px font-base text-gray-900">შეარჩიე სარეკლამო პოზიციები MyAuto-ს
                    პორტალზე</p>
            </div>
            <a href="#">
                <div
                    class="mt-15px font-size-14 w-165px h-35px d-flex justify-content-center align-items-center bg-gray-200 rounded-sm">
                    <p class="text-gray-900  font-base">კატალოგის ნახვა</p>

                </div>
            </a>
        </div>
        <div class="w-320px">
            <img class="w-320px" src="../images/home-cover.png" alt="myauto">
        </div>
    </div>
</div>

<div class="d-flex justify-content-between mt-35px">
    <div class="w-565px d-flex bg-white rounded-m">
        <div class="pl-25px pt-25px flex-direction-row">
            <img src="../images/myjobs.svg" alt="auto-logo">
            <div class="text-left mt-30px">
                <p class="font-size-16 font-bold font-weight-bold text-gray-900">რეკლამა Myjobs-ზე</p>
                <p class="font-size-14 mt-6px font-base text-gray-900">შეარჩიე სარეკლამო პოზიციები MyAuto-ს
                    პორტალზე</p>
            </div>
            <a href="#">
                <div
                    class="mt-15px font-size-14 w-165px h-35px d-flex justify-content-center align-items-center bg-gray-200 rounded-sm">
                    <p class="text-gray-900  font-base">კატალოგის ნახვა</p>

                </div>
            </a>
        </div>
        <div class="w-320px">
            <img class="w-320px" src="../images/jobs-cover.png" alt="myauto">
        </div>
    </div>
    <div class="w-565px d-flex bg-white rounded-m">
        <div class="pl-25px pt-25px flex-direction-row">
            <img src="../images/mysports.svg" alt="home-logo">
            <div class="text-left mt-30px">
                <p class="font-size-16 font-bold font-weight-bold text-gray-900">რეკლამა MySports-ზე</p>
                <p class="font-size-14 mt-6px font-base text-gray-900">შეარჩიე სარეკლამო პოზიციები MyAuto-ს
                    პორტალზე</p>
            </div>
            <a href="#">
                <div
                    class="mt-15px font-size-14 w-165px h-35px d-flex justify-content-center align-items-center bg-gray-200 rounded-sm">
                    <p class="text-gray-900  font-base">კატალოგის ნახვა</p>

                </div>
            </a>
        </div>
        <div class="w-320px">
            <img class="w-320px" src="../images/sports-cover.png" alt="myauto">
        </div>
    </div>
</div>

<div class="d-flex justify-content-between mt-35px">
    <div class="w-565px d-flex bg-white rounded-m">
        <div class="pl-25px pt-25px flex-direction-row">
            <img src="../images/mymarket.svg" alt="auto-logo">
            <div class="text-left mt-30px">
                <p class="font-size-16 font-bold font-weight-bold text-gray-900">რეკლამა Mymarket-ზე</p>
                <p class="font-size-14 mt-6px font-base text-gray-900">შეარჩიე სარეკლამო პოზიციები MyAuto-ს
                    პორტალზე</p>
            </div>
            <a href="#">
                <div
                    class="mt-15px font-size-14 w-165px h-35px d-flex justify-content-center align-items-center bg-gray-200 rounded-sm">
                    <p class="text-gray-900  font-base">კატალოგის ნახვა</p>

                </div>
            </a>
        </div>
        <div class="w-320px">
            <img class="w-320px" src="../images/market-cover.png" alt="myauto">
        </div>
    </div>
    <div class="w-565px d-flex bg-white rounded-m">
        <div class="pl-25px pt-25px flex-direction-row">
            <img src="../images/myparts.svg" alt="home-logo">
            <div class="text-left mt-30px">
                <p class="font-size-16 font-bold font-weight-bold text-gray-900">რეკლამა Myparts-ზე</p>
                <p class="font-size-14 mt-6px font-base text-gray-900">შეარჩიე სარეკლამო პოზიციები MyAuto-ს
                    პორტალზე</p>
            </div>
            <a href="#">
                <div
                    class="mt-15px font-size-14 w-165px h-35px d-flex justify-content-center align-items-center bg-gray-200 rounded-sm">
                    <p class="text-gray-900  font-base">კატალოგის ნახვა</p>

                </div>
            </a>
        </div>
        <div class="w-320px">
            <img class="w-320px" src="../images/parts-cover.png" alt="myauto">
        </div>
    </div>
</div>
{% endblock %}